[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "missCforest"]
	path = missCforest
	url = https://github.com/ielbadisy/misscforest
