[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "funcml"]
	path = funcml
	url = https://github.com/cran/funcml
[submodule "functionals"]
	path = functionals
	url = https://github.com/ielbadisy/functionals
[submodule "mcstatsim"]
	path = mcstatsim
	url = https://github.com/ielbadisy/mcstatsim
[submodule "missCforest"]
	path = missCforest
	url = https://github.com/ielbadisy/misscforest
[submodule "survdnn"]
	path = survdnn
	url = https://github.com/ielbadisy/survdnn
[submodule "tvrmst"]
	path = tvrmst
	url = https://github.com/ielbadisy/tvrmst
[submodule "unsurv"]
	path = unsurv
	url = https://github.com/ielbadisy/unsurv
